In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print('Dependencies: Imported siccessfully')

Dependencies: Imported siccessfully

In [2]:
afr_entities = ['Algeria', 'Angola', 'Benin', 'Botswana', 'British Indian Ocean Territory',
                 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic',
                 'Chad', 'Comoros', 'Congo', 'Djibouti', 'Egypt',
                 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon',
                 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast',
                 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar',
                 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mayotte',
                 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria',
                 'Reunion', 'Rwanda', 'Saint Helena', 'Sao Tome and Principe', 'Senegal',
                 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan',
                 'Sudan', 'Tanzania', 'The Democratic Republic of Congo', 'Togo', 'Tunisia',
                 'Uganda', 'Western Sahara', 'Zambia', 'Zimbabwe']

In [3]:
dt1 = r"C:\Users\Etebom\Desktop\RGN_project\datasets\births-attended-by-health-staff-sdgs.csv"
dn1 = pd.read_csv(dt1)
df1 = dn1[dn1['Entity'].isin(afr_entities)]
df1.head()

     Entity Code  Year  Births attended by skilled health staff (% of total)
32  Algeria  DZA  1992                                               76.5
33  Algeria  DZA  2000                                               92.0
34  Algeria  DZA  2002                                               95.9
35  Algeria  DZA  2006                                               95.2
36  Algeria  DZA  2013                                               96.6

In [4]:
dt2 = r"C:\Users\Etebom\Desktop\RGN_project\datasets\child-mortality-by-income-level-of-country.csv"
dn2 = pd.read_csv(dt2)
df2 = dn2[dn2['Entity'].isin(afr_entities)]
df2.head()

,Entity,Code,Year,Observation value - Indicator: Under-five mortality rate - Sex: Total - Wealth quintile: Total - Unit of measure: Deaths per 100 live births
202,Algeria,DZA,1954,24.275417
203,Algeria,DZA,1955,24.219950
204,Algeria,DZA,1956,24.168736
205,Algeria,DZA,1957,24.087566
206,Algeria,DZA,1958,24.020243

In [5]:
dt3 = r"C:\Users\Etebom\Desktop\RGN_project\datasets\Distribution of Causes of Death among Children Aged less than 5 years.csv"
dn3 = pd.read_csv(dt3)
df3 = dn3[dn3['Location'].isin(afr_entities)]
dt = df3[['Location', 'SpatialDimValueCode', 'Period', 'Dim2']].copy()
dt.rename(columns={
    'Location':'Entity',
    'SpatialDimValueCode': 'Code',
    'Period':'Year',
    'Dim2':'Cause of Death'
} ,
    inplace=True)

dt.head()

     Entity Code  Year                  Cause of Death
47  Algeria  DZA  2017  Other noncommunicable diseases
48  Algeria  DZA  2017                        Injuries
49  Algeria  DZA  2017                        HIV/AIDS
50  Algeria  DZA  2017             Diarrhoeal diseases
51  Algeria  DZA  2017                         Tetanus

In [6]:
dt4 = r"C:\Users\Etebom\Desktop\RGN_project\datasets\global-vaccination-coverage.csv"
dn4 = pd.read_csv(dt4)
df4 = dn4[dn4['Entity'].isin(afr_entities)]
df4.head()

,Entity,Code,Year,BCG (% of one-year-olds immunized),HepB3 (% of one-year-olds immunized),Hib3 (% of one-year-olds immunized),IPV1 (% of one-year-olds immunized),MCV1 (% of one-year-olds immunized),PCV3 (% of one-year-olds immunized),Pol3 (% of one-year-olds immunized),RCV1 (% of one-year-olds immunized),RotaC (% of one-year-olds immunized),YFV (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized)
126,Algeria,DZA,1985,86.0,NaN,NaN,NaN,68.0,NaN,69.0,NaN,NaN,NaN,69.0
127,Algeria,DZA,1986,88.0,NaN,NaN,NaN,67.0,NaN,72.0,NaN,NaN,NaN,73.0
128,Algeria,DZA,1987,93.0,NaN,NaN,NaN,73.0,NaN,79.0,NaN,NaN,NaN,79.0
129,Algeria,DZA,1988,96.0,NaN,NaN,NaN,81.0,NaN,85.0,NaN,NaN,NaN,85.0
130,Algeria,DZA,1989,96.0,NaN,NaN,NaN,82.0,NaN,87.0,NaN,NaN,NaN,87.0

In [7]:
dn4.columns

Index(['Entity', 'Code', 'Year', 'BCG (% of one-year-olds immunized)',
       'HepB3 (% of one-year-olds immunized)',
       'Hib3 (% of one-year-olds immunized)',
       'IPV1 (% of one-year-olds immunized)',
       'MCV1 (% of one-year-olds immunized)',
       'PCV3 (% of one-year-olds immunized)',
       'Pol3 (% of one-year-olds immunized)',
       'RCV1 (% of one-year-olds immunized)',
       'RotaC (% of one-year-olds immunized)',
       'YFV (% of one-year-olds immunized)',
       'DTP3 (% of one-year-olds immunized)'],
      dtype='object')

In [8]:
dn4['BCG (% of one-year-olds immunized)'].notnull().sum()

6497

In [9]:
dt5 = r"C:\Users\Etebom\Desktop\RGN_project\datasets\health-protection-coverage.csv"
dn5 = pd.read_csv(dt5)
df5 = dn5[dn5['Entity'].isin(afr_entities)]
df5.head()

,Entity,Code,Year,Share of population covered by health insurance (ILO (2014))
1,Algeria,DZA,2005,85.2
3,Angola,AGO,2010,0.0
18,Benin,BEN,2009,9.0
25,Burkina Faso,BFA,2010,1.0
26,Burundi,BDI,2009,28.4

In [10]:
dt6 = r"C:\Users\Etebom\Desktop\RGN_project\datasets\number-of-infant-deaths-unwpp.csv"
dn6 = pd.read_csv(dt6)
df6 = dn6[dn6['Entity'].isin(afr_entities)]
df6.head()

      Entity Code  Year  Deaths - Sex: all - Age: 0 - Variant: estimates
222  Algeria  DZA  1950                                          74078.0
223  Algeria  DZA  1951                                          77950.0
224  Algeria  DZA  1952                                          78849.0
225  Algeria  DZA  1953                                          79839.0
226  Algeria  DZA  1954                                          81147.0

In [11]:
dt7 = r"C:\Users\Etebom\Desktop\RGN_project\datasets\number-of-maternal-deaths-by-region.csv"
dn7 = pd.read_csv(dt7)
df7 = dn7[dn7['Entity'].isin(afr_entities)]
df7.head()

      Entity Code  Year  Estimated maternal deaths 959828-annotations
108  Algeria  DZA  1985                  2187.8162                NaN
109  Algeria  DZA  1986                  2024.1606                NaN
110  Algeria  DZA  1987                  1966.3341                NaN
111  Algeria  DZA  1988                  1822.9799                NaN
112  Algeria  DZA  1989                  1744.9213                NaN

In [12]:
dt8 = r"C:\Users\Etebom\Desktop\RGN_project\datasets\youth-mortality-rate.csv"
dn8 = pd.read_csv(dt8)
df8 = dn8[dn8['Entity'].isin(afr_entities)]
df8.head()

      Entity Code  Year  Under-fifteen mortality rate
112  Algeria  DZA  1979                     18.178753
113  Algeria  DZA  1980                     16.790104
114  Algeria  DZA  1981                     15.191734
115  Algeria  DZA  1982                     13.394593
116  Algeria  DZA  1983                     11.594862

In [13]:
dfs = [df1, df2, df4, df5, df6, df7, df8, dt]
dn = dfs[0]

for df in dfs[1:]:
    dn = pd.merge(dn, df, on=['Entity', 'Code', 'Year'], how='left')

In [14]:
dn.head()

,Entity,Code,Year,Births attended by skilled health staff (% of total),Observation value - Indicator: Under-five mortality rate - Sex: Total - Wealth quintile: Total - Unit of measure: Deaths per 100 live births,BCG (% of one-year-olds immunized),HepB3 (% of one-year-olds immunized),Hib3 (% of one-year-olds immunized),IPV1 (% of one-year-olds immunized),MCV1 (% of one-year-olds immunized),...,RCV1 (% of one-year-olds immunized),RotaC (% of one-year-olds immunized),YFV (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized),Share of population covered by health insurance (ILO (2014)),Deaths - Sex: all - Age: 0 - Variant: estimates,Estimated maternal deaths,959828-annotations,Under-fifteen mortality rate,Cause of Death
0,Algeria,DZA,1992,76.5,4.995563,97.0,NaN,NaN,NaN,86.0,...,NaN,NaN,NaN,88.0,NaN,31642.0,1608.7673,NaN,5.808561,NaN
1,Algeria,DZA,2000,92.0,4.169650,97.0,NaN,NaN,NaN,80.0,...,NaN,NaN,NaN,86.0,NaN,20563.0,958.2376,NaN,4.779015,"Other communicable, perinatal and nutritional ..."
2,Algeria,DZA,2000,92.0,4.169650,97.0,NaN,NaN,NaN,80.0,...,NaN,NaN,NaN,86.0,NaN,20563.0,958.2376,NaN,4.779015,Other noncommunicable diseases
3,Algeria,DZA,2000,92.0,4.169650,97.0,NaN,NaN,NaN,80.0,...,NaN,NaN,NaN,86.0,NaN,20563.0,958.2376,NaN,4.779015,Injuries
4,Algeria,DZA,2000,92.0,4.169650,97.0,NaN,NaN,NaN,80.0,...,NaN,NaN,NaN,86.0,NaN,20563.0,958.2376,NaN,4.779015,HIV/AIDS

In [15]:
dn = dn.drop(columns='959828-annotations')
dn.head()

,Entity,Code,Year,Births attended by skilled health staff (% of total),Observation value - Indicator: Under-five mortality rate - Sex: Total - Wealth quintile: Total - Unit of measure: Deaths per 100 live births,BCG (% of one-year-olds immunized),HepB3 (% of one-year-olds immunized),Hib3 (% of one-year-olds immunized),IPV1 (% of one-year-olds immunized),MCV1 (% of one-year-olds immunized),...,Pol3 (% of one-year-olds immunized),RCV1 (% of one-year-olds immunized),RotaC (% of one-year-olds immunized),YFV (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized),Share of population covered by health insurance (ILO (2014)),Deaths - Sex: all - Age: 0 - Variant: estimates,Estimated maternal deaths,Under-fifteen mortality rate,Cause of Death
0,Algeria,DZA,1992,76.5,4.995563,97.0,NaN,NaN,NaN,86.0,...,88.0,NaN,NaN,NaN,88.0,NaN,31642.0,1608.7673,5.808561,NaN
1,Algeria,DZA,2000,92.0,4.169650,97.0,NaN,NaN,NaN,80.0,...,86.0,NaN,NaN,NaN,86.0,NaN,20563.0,958.2376,4.779015,"Other communicable, perinatal and nutritional ..."
2,Algeria,DZA,2000,92.0,4.169650,97.0,NaN,NaN,NaN,80.0,...,86.0,NaN,NaN,NaN,86.0,NaN,20563.0,958.2376,4.779015,Other noncommunicable diseases
3,Algeria,DZA,2000,92.0,4.169650,97.0,NaN,NaN,NaN,80.0,...,86.0,NaN,NaN,NaN,86.0,NaN,20563.0,958.2376,4.779015,Injuries
4,Algeria,DZA,2000,92.0,4.169650,97.0,NaN,NaN,NaN,80.0,...,86.0,NaN,NaN,NaN,86.0,NaN,20563.0,958.2376,4.779015,HIV/AIDS

In [16]:
dn.rename(
    columns={
        'Observation value - Indicator: Under-five mortality rate - Sex: Total - Wealth quintile: Total - Unit of measure: Deaths per 100 live births': 'Under five mortality rate (per 100 live births)'
    }, inplace=True
)
dn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10695 entries, 0 to 10694
Data columns (total 21 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Entity                                                        10695 non-null  object
 1   Code                                                          10695 non-null  object
 2   Year                                                          10695 non-null  int64
 3   Births attended by skilled health staff (% of total)          10695 non-null  float64
 4   Under five mortality rate (per 100 live births)               10695 non-null  float64
 5   BCG (% of one-year-olds immunized)                            10610 non-null  float64
 6   HepB3 (% of one-year-olds immunized)                          8172 non-null   float64
 7   Hib3 (% of one-year-olds immunized)                           6051 non-null   float64
 8   IPV1 (% of one-year-olds immunized)                           793 non-null    float64
 9   MCV1 (% of one-year-olds immunized)                           10610 non-null  float64
 10  PCV3 (% of one-year-olds immunized)                           2510 non-null   float64
 11  Pol3 (% of one-year-olds immunized)                           10610 non-null  float64
 12  RCV1 (% of one-year-olds immunized)                           2011 non-null   float64
 13  RotaC (% of one-year-olds immunized)                          1792 non-null   float64
 14  YFV (% of one-year-olds immunized)                            3759 non-null   float64
 15  DTP3 (% of one-year-olds immunized)                           10610 non-null  float64
 16  Share of population covered by health insurance (ILO (2014))  631 non-null    float64
 17  Deaths - Sex: all - Age: 0 - Variant: estimates               10695 non-null  float64
 18  Estimated maternal deaths                                     10691 non-null  float64
 19  Under-fifteen mortality rate                                  10695 non-null  float64
 20  Cause of Death                                                10542 non-null  object
dtypes: float64(17), int64(1), object(3)
memory usage: 1.7+ MB

In [17]:
dn.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,10695.0,2007.956335,5.369798,1984.000000,2004.000000,2008.000000,2012.000000,2021.000000
Births attended by skilled health staff (% of total),10695.0,64.263665,25.656529,5.000000,44.700000,62.600000,88.300000,100.000000
Under five mortality rate (per 100 live births),10695.0,8.654829,4.750020,1.377188,5.259747,8.110012,11.981215,31.681946
BCG (% of one-year-olds immunized),10610.0,88.377286,12.797887,37.000000,82.000000,93.000000,98.000000,99.000000
HepB3 (% of one-year-olds immunized),8172.0,84.328683,14.908496,31.000000,76.000000,89.000000,95.000000,99.000000
Hib3 (% of one-year-olds immunized),6051.0,83.049909,17.308952,16.000000,76.000000,89.000000,95.000000,99.000000
IPV1 (% of one-year-olds immunized),793.0,52.804540,32.913084,0.000000,27.000000,53.000000,81.000000,99.000000
MCV1 (% of one-year-olds immunized),10610.0,77.735627,18.190246,11.000000,66.000000,82.000000,93.000000,99.000000
PCV3 (% of one-year-olds immunized),2510.0,73.149004,25.507306,1.000000,61.000000,81.000000,92.000000,99.000000
Pol3 (% of one-year-olds immunized),10610.0,79.928841,18.038002,8.000000,70.000000,85.000000,96.000000,99.000000
RCV1 (% of one-year-olds immunized),2011.0,94.383889,6.438366,59.000000,92.000000,97.000000,99.000000,99.000000
RotaC (% of one-year-olds immunized),1792.0,70.420201,26.493729,2.000000,56.000000,81.000000,91.000000,99.000000
YFV (% of one-year-olds immunized),3759.0,61.411812,24.057013,1.000000,47.000000,67.000000,80.000000,97.000000
DTP3 (% of one-year-olds immunized),10610.0,79.862865,18.873905,8.000000,70.000000,86.000000,95.000000,99.000000
Share of population covered by health insurance (ILO (2014)),631.0,25.120761,31.663312,0.000000,2.100000,6.000000,39.400000,100.000000
Deaths - Sex: all - Age: 0 - Variant: estimates,10695.0,41762.833193,87894.206414,17.000000,2586.000000,21408.000000,49557.000000,607071.000000
Estimated maternal deaths,10691.0,3838.116873,10773.558270,0.061462,126.417420,1563.935700,3145.868200,86177.890000
Under-fifteen mortality rate,10695.0,10.176153,5.539254,1.653650,6.235593,9.601135,14.184238,35.862120

In [18]:
dn.isnull().sum()

Entity                                                              0
Code                                                                0
Year                                                                0
Births attended by skilled health staff (% of total)                0
Under five mortality rate (per 100 live births)                     0
BCG (% of one-year-olds immunized)                                 85
HepB3 (% of one-year-olds immunized)                             2523
Hib3 (% of one-year-olds immunized)                              4644
IPV1 (% of one-year-olds immunized)                              9902
MCV1 (% of one-year-olds immunized)                                85
PCV3 (% of one-year-olds immunized)                              8185
Pol3 (% of one-year-olds immunized)                                85
RCV1 (% of one-year-olds immunized)                              8684
RotaC (% of one-year-olds immunized)                             8903
YFV (% of one-year-olds immunized)                               6936
DTP3 (% of one-year-olds immunized)                                85
Share of population covered by health insurance (ILO (2014))    10064
Deaths - Sex: all - Age: 0 - Variant: estimates                     0
Estimated maternal deaths                                           4
Under-fifteen mortality rate                                        0
Cause of Death                                                    153
dtype: int64

In [19]:
(dn.isnull().mean() * 100).round(2)

Entity                                                           0.00
Code                                                             0.00
Year                                                             0.00
Births attended by skilled health staff (% of total)             0.00
Under five mortality rate (per 100 live births)                  0.00
BCG (% of one-year-olds immunized)                               0.79
HepB3 (% of one-year-olds immunized)                            23.59
Hib3 (% of one-year-olds immunized)                             43.42
IPV1 (% of one-year-olds immunized)                             92.59
MCV1 (% of one-year-olds immunized)                              0.79
PCV3 (% of one-year-olds immunized)                             76.53
Pol3 (% of one-year-olds immunized)                              0.79
RCV1 (% of one-year-olds immunized)                             81.20
RotaC (% of one-year-olds immunized)                            83.24
YFV (% of one-year-olds immunized)                              64.85
DTP3 (% of one-year-olds immunized)                              0.79
Share of population covered by health insurance (ILO (2014))    94.10
Deaths - Sex: all - Age: 0 - Variant: estimates                  0.00
Estimated maternal deaths                                        0.04
Under-fifteen mortality rate                                     0.00
Cause of Death                                                   1.43
dtype: float64

In [17]:
dn.duplicated().sum()

7028

In [48]:
dn['Cause of Death'] = dn['Cause of Death'].fillna('Not recorded')

In [21]:
dn_u5 = dn.groupby('Entity', as_index=False)['Under five mortality rate (per 100 live births)'].sum()
dn_u5_sorted = dn_u5.sort_values(by='Under five mortality rate (per 100 live births)', ascending=False) 
dn_u5_sorted.head()

          Entity  Under five mortality rate (per 100 live births)
3       Botswana                                      4689.741197
41  Sierra Leone                                      4295.088689
28        Malawi                                      3983.690227
35         Niger                                      3317.641726
21        Guinea                                      3272.704175

In Africa, the top 5 countries with high mortality rate of children  
under the age of 5 over the period in review are  
- Botswana
- Sierra Leone
- Malawi
- Niger and
- Guinea

In [27]:
dn_y5 = dn.groupby('Year', as_index=False)['Under five mortality rate (per 100 live births)'].sum()
dn_y5
dn_y5_sorted = dn_y5.sort_values(by='Under five mortality rate (per 100 live births)', ascending=False) 
dn_y5_sorted.head(3)

    Year  Under five mortality rate (per 100 live births)
15  2000                                     15932.951622
21  2006                                      9282.361459
25  2010                                      7015.863201

The worst 3 years when Africa was worst hit by  
death of children under the age of 5 are  
- 2000
- 2006 and
- 2010

In [28]:
dn_md = dn.groupby('Year', as_index=False)['Estimated maternal deaths'].sum()
dn_md_sorted = dn_md.sort_values(by='Estimated maternal deaths', ascending=False) 
dn_md_sorted.head(3)

    Year  Estimated maternal deaths
26  2011               4.903102e+06
28  2013               4.582953e+06
23  2008               3.907417e+06

In [42]:
dn.tail()

,Entity,Code,Year,Births attended by skilled health staff (% of total),Under five mortality rate (per 100 live births),BCG (% of one-year-olds immunized),HepB3 (% of one-year-olds immunized),Hib3 (% of one-year-olds immunized),IPV1 (% of one-year-olds immunized),MCV1 (% of one-year-olds immunized),...,Pol3 (% of one-year-olds immunized),RCV1 (% of one-year-olds immunized),RotaC (% of one-year-olds immunized),YFV (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized),Share of population covered by health insurance (ILO (2014)),Deaths - Sex: all - Age: 0 - Variant: estimates,Estimated maternal deaths,Under-fifteen mortality rate,Cause of Death
10690,Zimbabwe,ZWE,2015,78.1,6.016966,90.0,87.0,87.0,NaN,86.0,...,88.0,NaN,87.0,NaN,87.0,NaN,20542.0,1967.1335,7.272911,Acute lower respiratory infections
10691,Zimbabwe,ZWE,2015,78.1,6.016966,90.0,87.0,87.0,NaN,86.0,...,88.0,NaN,87.0,NaN,87.0,NaN,20542.0,1967.1335,7.272911,Prematurity
10692,Zimbabwe,ZWE,2015,78.1,6.016966,90.0,87.0,87.0,NaN,86.0,...,88.0,NaN,87.0,NaN,87.0,NaN,20542.0,1967.1335,7.272911,Prematurity
10693,Zimbabwe,ZWE,2015,78.1,6.016966,90.0,87.0,87.0,NaN,86.0,...,88.0,NaN,87.0,NaN,87.0,NaN,20542.0,1967.1335,7.272911,Birth asphyxia and birth trauma
10694,Zimbabwe,ZWE,2019,86.0,5.237655,95.0,90.0,90.0,65.0,85.0,...,90.0,85.0,92.0,NaN,90.0,NaN,17470.0,1906.9050,6.387253,NaN

In [49]:
dn_ocd = dn.pivot_table(
    index='Cause of Death',  # Rows will be grouped by 'Cause of Death'
    values='Deaths - Sex: all - Age: 0 - Variant: estimates',  # Column to aggregate
    aggfunc='sum',  # Aggregation function
    fill_value=0  # Optional: Fill missing values with 0
).reset_index()  # Convert the index back to a column

dn_ocd

,Cause of Death,Deaths - Sex: all - Age: 0 - Variant: estimates
0,Acute lower respiratory infections,3.139732e+07
1,Birth asphyxia and birth trauma,3.139732e+07
2,Congenital anomalies,3.139732e+07
3,Diarrhoeal diseases,3.139732e+07
4,HIV/AIDS,3.139732e+07
5,Injuries,3.139732e+07
6,Malaria,3.139732e+07
7,Measles,3.139732e+07
8,Meningitis/encephalitis,3.139732e+07
9,Not recorded,7.091035e+06
10,"Other communicable, perinatal and nutritional ...",3.139732e+07
11,Other noncommunicable diseases,3.139732e+07
12,Prematurity,3.139732e+07
13,Sepsis and other infectious conditions of the ...,3.139732e+07
14,Tetanus,3.139732e+07

In [47]:
dn['Cause of Death'].unique()

array([nan, 'Other communicable, perinatal and nutritional conditions',
       'Other noncommunicable diseases', 'Injuries', 'HIV/AIDS',
       'Diarrhoeal diseases', 'Tetanus', 'Measles',
       'Meningitis/encephalitis', 'Malaria', 'Prematurity',
       'Birth asphyxia and birth trauma',
       'Sepsis and other infectious conditions of the newborn',
       'Congenital anomalies', 'Acute lower respiratory infections'],
      dtype=object)

In [43]:
dn.groupby(['Cause of Death'], as_index=False)['Deaths - Sex: all - Age: 0 - Variant: estimates'].sum()

,Cause of Death,Deaths - Sex: all - Age: 0 - Variant: estimates
0,Acute lower respiratory infections,3.139732e+07
1,Birth asphyxia and birth trauma,3.139732e+07
2,Congenital anomalies,3.139732e+07
3,Diarrhoeal diseases,3.139732e+07
4,HIV/AIDS,3.139732e+07
5,Injuries,3.139732e+07
6,Malaria,3.139732e+07
7,Measles,3.139732e+07
8,Meningitis/encephalitis,3.139732e+07
9,"Other communicable, perinatal and nutritional ...",3.139732e+07
10,Other noncommunicable diseases,3.139732e+07
11,Prematurity,3.139732e+07
12,Sepsis and other infectious conditions of the ...,3.139732e+07
13,Tetanus,3.139732e+07

### PROJECT NOTES

This project is about uncovering trends in health records sourced from World Health Organization.  
As child and infant mortality rates continue to bedevil Africa, it is time to uncover trends in health records,  
and profer viable solutions to the problems that health data holds.

### DATA UNDERSTANDING