In [1]:
# Import needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

print('Dependencies: Imported successfully')

Dependencies: Imported successfully

In [2]:
dt2 = r"C:\Users\Etebom\Desktop\RGN_project\datasets\child-mortality-by-income-level-of-country.csv"
dn2 = pd.read_csv(dt2)
dn2.head()
dn2.duplicated().sum()

0

In [4]:
dt3 = r"C:\Users\Etebom\Desktop\RGN_project\datasets\Distribution of Causes of Death among Children Aged less than 5 years.csv"
dn3 = pd.read_csv(dt3)
dt = dn3[['Location', 'SpatialDimValueCode', 'Period', 'Dim2']].copy()
dt.rename(columns={
    'Location':'Entity',
    'SpatialDimValueCode': 'Code',
    'Period':'Year',
    'Dim2':'Cause of Death'
} ,
    inplace=True)

In [7]:
dj = pd.concat([dn2, dt], ignore_index=True)
dj.duplicated().sum()
dj.shape
dj = dj.drop_duplicates()
dj.shape

(63088, 5)

In [8]:
dj.head()

,Entity,Code,Year,Observation value - Indicator: Under-five mortality rate - Sex: Total - Wealth quintile: Total - Unit of measure: Deaths per 100 live births,Cause of Death
0,Afghanistan,AFG,1957,37.245758,NaN
1,Afghanistan,AFG,1958,36.626625,NaN
2,Afghanistan,AFG,1959,36.043480,NaN
3,Afghanistan,AFG,1960,35.459850,NaN
4,Afghanistan,AFG,1961,34.894880,NaN

In [9]:
# Create a list of African countries
afr_entities = ['Algeria', 'Angola', 'Benin', 'Botswana', 'British Indian Ocean Territory',
                 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic',
                 'Chad', 'Comoros', 'Congo', 'Djibouti', 'Egypt',
                 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon',
                 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast',
                 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar',
                 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mayotte',
                 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria',
                 'Reunion', 'Rwanda', 'Saint Helena', 'Sao Tome and Principe', 'Senegal',
                 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan',
                 'Sudan', 'Tanzania', 'The Democratic Republic of Congo', 'Togo', 'Tunisia',
                 'Uganda', 'Western Sahara', 'Zambia', 'Zimbabwe']

In [ ]:
dj = dj[dj['Entity'].isin(afr_entities)]